/* Global reset by Eric Meyer */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
input:focus { outline:none; }

/* -- ERROR PAGES --------------------------------------- */
#comment_error_list .error, #error_list .error { padding: 2px 0; clear: both; }
.error h1 { font-size: 2.5em; text-align: center; }

/* -- GLOBAL STYLES --------------------------------------- */
body { line-height:1; color:#333; font: 12px Arial, Helvetica, Verdana, sans-serif; }
a { color:#069; text-decoration:underline; }
a:hover { color:#F80; }
option.pad { margin-left:10px;}
.empty { clear:both; color:#993300; float:left; padding:15px; width:100%; }
.container { margin:0 auto; width:970px; }
.content { clear:both; float:left; margin-bottom:20px; width:960px; }
.content.home { border-top:1px solid #BBB; }
.clear {height: 1px; clear:both; }

/* Flash message */

.FlashMessage {
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
    top: 10px;
    z-index: 999;
    text-align: center;
}
.FlashMessage.warning {
    background-color: #FCF8E3;
    border-bottom: solid 2px #FBEED5;
    color: #C09853;
}
.FlashMessage.error {
    background-color: #F2DEDE;
    border-bottom: solid 2px #EED3D7;
    color: #B94A48;
}
.FlashMessage.info,
.FlashMessage.ok {
    background-color: #D9EDF7;
    border-bottom: solid 2px #BCE8F1;
    color: #3A87AD;
}
.FlashMessage .close {
    position: absolute;
    top: 14px;
    right: 17px;
    float: right;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-shadow:none;
    text-decoration:none;
    font-weight: bold;
    cursor: pointer;
}
.FlashMessage.error .close {
    color: #B94A48;
}
.FlashMessage.warning .close {
    color: #C09853;
}
.FlashMessage.success .close,
.FlashMessage.information .close {
    color: #3A87AD;
}
/* Header */
header { border-bottom: 1px solid #BBB; clear:both; float:left; margin:25px 0 0 0; padding:0 0 30px 0; position: relative; width:960px; }
header #logo { color:#000; font:30px Georgia, Times, 'Times New Roman', serif; text-decoration:none; }
header #logo strong { font-weight:normal; }
header #user_menu { display:inline; font-size:11px; position:absolute; right:10px; top:0; text-align: right; }
header #user_menu li { border-right:2px solid #e8e8e8; color:#999; display: inline; padding:0 7px; position:relative; }
header #user_menu li.last { border:none; padding-right:0; }
header #user_menu li ul { background:#FFF; border:1px solid #333; display:none; left:7px; position:absolute; top:14px; -moz-border-radius:5px; border-radius:5px; }
header #user_menu li ul li { border-top:1px dotted #DDD; border-right:none; display:block; width:100px; padding:0 0; position:static; text-align: left; }
header #user_menu li ul li a { display:block; padding:7px 12px 7px 12px; }
header #user_menu li ul li.first { border:none; }
header #user_menu li.with_sub strong { background:url(images/language_arrow.gif) no-repeat right center; color:#069; font-weight:normal; padding-right:10px !important; text-decoration: underline; cursor:pointer; }
header #user_menu li form { background:#FFF; border:1px solid #333; display:none; left:7px; padding:13px; position:absolute; top:16px; z-index:9999; -moz-border-radius:5px; border-radius:5px; text-align: left; }
header #user_menu li form p.checkbox label { vertical-align:middle; }
header #user_menu li form label { color:#000; display:inline; font-weight:bold; margin-bottom:3px; }
header #user_menu li form input { border: 1px solid #BBB; display:inline; margin-bottom:10px; padding:3px; }
header #user_menu .forgot { margin-top: 10px; }

/* Footer */
footer { clear:both; border-top:1px solid #f2f2f2; padding-top:1px; margin-top: 1.5em; padding-top: 1.5em; }
footer nav>ul>li {display:inline-block; padding-right: 2em; }						
footer nav ul a {color: #222; text-decoration: none; }
footer nav ul a:hover {color: black; text-decoration: underline; }	
footer .inner { border-top:1px solid #d7d7d7; color:#999; font:italic 12px Georgia, Times, 'Times New Roman', serif; padding:25px 0; text-align:center; }
footer .inner a,
footer .inner strong { color:#666; }

/* Search form */
.search input { border:1px solid #b4b4b4; font-size:12px; height: 26px; line-height: 26px; margin-right:10px; padding:0 10px; vertical-align: middle; }
.search input#query { width:375px; }
.search select { margin-right:10px; }
.home .search a { display:none; }
.search .extras { padding-top:10px; }
.search .extras .fieldset_title { color:#999; margin-bottom:5px; }
.search fieldset { padding:15px 10px; }
/* NOTE: see Uniform.js styles at the bottom for the fake select and fake button styles */

/* List & Item Search Row */
#form_publish .search { float:left; width:960px; }
/*#form_publish .search input#query { width:375px; }*/
#form_publish .search #expand_advanced { font-size:11px; margin-left:10px;}
#form_publish .search .extras { display:none; }
#form_publish .publish_button { background:#ec4901 url(images/button_link_bg.gif) repeat-x top; border:1px solid #c54f00; float:right; margin:9px 10px 0 0; padding:6px 10px 7px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#form_publish .margin-bottom { margin-bottom: 10px; margin-top: 0px; }
#form_publish .publish_button a { background:url(images/button_link_icon.gif) no-repeat 0 2px; color:#FFF; float:left; padding-left:15px; text-decoration:none; }
#form_publish .publish_button a:hover { text-decoration: underline;}

/* -- HOME --------------------------------------- */
.home #main { width: 720px; float: left; }
.home .search { border-bottom: 1px solid #BBB; margin-bottom:15px; }

/* Latest ads list */
.home #main h1 { border-bottom:2px solid #f2f2f2; color:#000; font:18px Georgia, Times, 'Times New Roman', serif; }
.home #main h1 strong { border-bottom:1px solid #DDD; display:block; font-weight:normal; padding-bottom:7px; }
.home #main .sell_stuff { background-color: #ccc; padding: 5%; }
.home #main .sell_stuff ol {list-style-type: decimal; margin-left: 1.5em; }
.home #main .sell_stuff .col1 h3 {font-size: 1.7em;}
.home #main .sell_stuff .col1 { float: left; width: 48%;  margin-right: 4%; }
.home #main .sell_stuff .col2 { float: left; width: 48%;  }
.home #main .sell_stuff form div.selector, .home #main .sell_stuff form div.selector select { width: 200px; min-width: 200px; }
.home #main .sell_stuff form div.selector span { width: 170px }
.home #main .sell_stuff form .row { padding: 3px 0; }
.home #main .sell_stuff form label { width: 75px; display: inline-block; font-weight: bold; }
.home #main .sell_stuff form input.submit { margin: 10px 0 0 70px; width: 100px; height: 40px; }
.home #main .latest ul {margin-top: 1em;}
.home #main .latest li img { vertical-align: middle; margin-right: 4%; }
.home #main .latest li .summary { width: 50%; display: inline-block; vertical-align: middle; }
.home #main .latest .items {width: 40%; background-color: #ccc; padding: 2% 5%; float: left; }
.home #main .latest .services {width: 40%; padding: 2% 5%; float: right; }
.home #main .latest h3 { font-size: 1.2em; text-align: center; margin: 0 auto; border: 1px solid #999; text-transform: uppercase; padding-top: 50px; padding-bottom: 50px }
.home #main .latest h4 {font-size: 1em; margin-top: 1em; }
.home #main .categories { clear:both; float:left; margin-bottom:25px; padding:15px 0 0 10px; width:100%; }
.home #main .categories .col { float:left; width:215px; }
.home #main .categories .col.c2 { margin:0 25px; }
.home #main .categories.c2 .col { float:left; width:335px; }
.home #main .categories.c2 .col.c2 { margin:0 0 0 25px; }
.home #main .categories.c1 .col { clear:both; float:left; width:100%; }
.home #main .categories.c1 .category ul { clear:both; float:left; width:100%; }
.home #main .categories.c1 .category li { float:left; margin-right:17px; width:330px; }
.home #main .categories .category { margin-bottom:15px; }
.home #main .categories .category h1 { margin-bottom:5px; }
.home #main .categories .category h1 span { color:#CCC; }
.home #main .categories .category li { border-bottom:1px dotted #DDD; color:#CCC; font-size:11px; padding:5px 0; }
.home #main .latest_ads { padding-left:10px; clear:both; }
.home #main .latest_ads table { clear:both; width:100%; }
.home #main .latest_ads table td { border-bottom:1px dotted #dddddd; padding:8px; vertical-align:top; } 
.home #main .latest_ads table tr.odd td { background:#f8f8f8; }
.home #main .latest_ads table tr:hover td { background:#fefbea; }
.home #main .latest_ads table td.photo { padding-left:2px; } 
.home #main .latest_ads table td.photo img { background:#FFF; border:1px solid #DDD; padding:1px; }
.home #main .latest_ads table td.text h3 { font-size:14px; font-weight:normal; margin-bottom: 4px; }
.home #main .latest_ads table td.text h4 { color:#000; font-size:11px; font-weight:bold; margin-bottom: 3px; }
.home #main .latest_ads table td.text h4 span { color:#CCC; margin:0 5px; }
.home #main .latest_ads table td.text p { line-height:16px; }
.home #main .latest_ads table td.price { padding-left:25px; }
.home #main .latest_ads .see_more_link { font-size:14px; padding:15px 20px 0; text-align:right;}

/* Sidebar */
.home .publish_box { background:#fff4d4; border: 1px solid #ffa727; clear:both; color:#000; float:left; margin-bottom:15px; padding:10px; width:218px; }
.home .publish_box h2 { font:14px Georgia, Times, 'Times New Roman', serif; }
.home .publish_box p { font-size:11px; margin:5px 0 8px; }
.home .publish_box .button_link { background:#ec4901 url(images/button_link_bg.gif) repeat-x top; border:1px solid #c54f00; float:left; padding:7px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.home .publish_box .button_link a { background:url(images/button_link_icon.gif) no-repeat 0 2px; color:#FFF; float:left; padding-left:15px; text-decoration:none; }
.home .publish_box.candidates { background:#f8f8ea; border-color:#c7c13e; }
.home .publish_box.candidates .button_link { background:#808b05 url(images/button_link_green_bg.gif) repeat-x top; border-color:#6f6e00; }
.home .navigation { background:#e9f5f9; border: 1px solid #bed7df; border-top:none; clear:both; margin-bottom:15px; padding:15px 10px; width:218px; -moz-border-radius-bottomright: 15px; border-bottom-right-radius: 15px; }
.home .navigation h3 { background:#94cee4; color:#FFF; margin-bottom:10px; padding:7px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.home .navigation h3 strong { font-weight:normal; }
.home .navigation ul { font-size:11px; margin-bottom:15px; }
.home .navigation ul li { padding:3px 0 3px 10px; }
.home .navigation ul li em { color:#999; font-style:normal; }

/* -- AD LISTINGS --------------------------------------- */
.list #main { float:right; padding-top:18px; width:690px; }
.list #sidebar { float:left; padding-left:10px; width:240px; }

/* List */
.ad_list #list_head { border-bottom:2px solid #f2f2f2; clear:both; float:left; width:100%; }
.ad_list #list_head .inner { border-bottom:1px solid #dddddd; clear:both; float:left; padding-bottom:5px; width:100%; }
.ad_list #list_head h1 { border:none; float:left; font:18px Georgia, Times, 'Times New Roman', serif; width:290px; }
.ad_list #list_head h1 strong { border:none; font-weight:normal; padding:0; }
.ad_list #list_head .see_by { float:right; font-size:11px; margin:5px 10px 0 0; }
.ad_list #list_head .see_by span { color:#CCC; margin:0 5px; }
.ad_list #list_head .see_by a { text-decoration: none; }
.ad_list #list_head .see_by a.current { background:url(images/order_by_current.gif) no-repeat right 45%; padding-right:12px; }
.ad_list table { clear:both; width:100%; }
.ad_list table td { border-bottom:1px dotted #dddddd; padding:8px; vertical-align:top; } 
.ad_list table tr.odd td { background:#f8f8f8; }
.ad_list table tr:hover td { background:#fefbea; }
.ad_list table td.photo { padding-left:2px; } 
.ad_list table td.photo img { background:#FFF; border:1px solid #DDD; padding:1px; }
.ad_list table td.text h3 { font-size:14px; font-weight:normal; margin-bottom: 4px; }
.ad_list table td.text h4 { color:#000; font-size:11px; font-weight:bold; margin-bottom: 3px; }
.ad_list table td.text h4 span { color:#CCC; margin:0 5px; }
.ad_list table td.text p { line-height:16px; }
.ad_list table td.price { padding-left:25px; }

/* Pagination */
.paginate { padding:25px 0 20px; text-align:center; }
.paginate a { border:1px solid #EEE; margin:0 1px; padding:5px 10px; text-decoration:none; }
.paginate a.previous { margin-right:15px; }
.paginate a.next { margin-left:15px; }
.paginate strong { border:1px solid #EEE; color:#F30; margin:0 1px; padding:5px 10px; }
.paginate span { color:#999; margin:0 1px; padding:5px; }
.paginate em { border:1px solid #EEE; color:#AAA; font-style:normal; margin:0 1px; padding:5px 10px; text-decoration:none; }
.paginate em.previous { margin-right:15px; }
.paginate em.next { margin-left:15px; }

/* Filters */
.list .filters { background:#e9f5f9; border: 1px solid #bed7df; border-top:none; clear:both; margin-bottom:15px; padding:15px 10px; width:218px; -moz-border-radius-bottomleft: 15px; border-bottom-left-radius: 15px; }
.list .filters h3 { background:#94cee4; color:#FFF; margin-bottom:10px; padding:7px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.list .filters h3 strong { font-weight:normal; }
.list .filters .alert_form { padding-top:15px; }
.list .filters .alert_form input { border: 1px solid #BBB; font-size:11px; margin:0 0 5px 10px; padding:3px; width:170px; }
.list .filters .row { padding:0 7px 12px; }
.list .filters .row h6 { color:#000; font-size:11px; font-weight:bold; margin-bottom:3px; }
.list .filters .row label { cursor:pointer; }
.list .filters .row input { font-family:Arial, Verdana, sans-serif; }
.list .filters .row .selector { background:#FFF; font-size:11px; height:21px; line-height:21px; padding-left:5px; width:170px; }
.list .filters .row .auto .selector { width: auto; }
.list .filters .row .selector span { background-position:right 8px; height:21px; line-height:21px; width:140px; }
.list .filters .row .auto .selector span {width:auto; }
.list .filters .row .selector.hover span,
.list .filters .row .selector.hover span,
.list .filters .row .selector:hover:active span,
.list .filters .row .selector.active:hover span { background-position:right -31px; }
.list .filters .one_input input { border: 1px solid #BBB; font-size:11px; padding:4px 3px 5px; width:170px; }
.list .filters .two_input { color:#999; font-size:11px; }
.list .filters .two_input input { border: 1px solid #BBB; font-size:11px; margin-right:5px; padding:4px 3px 5px; width:60px; }
.list .filters .two_selects .selector { width:75px; }
.list .filters .two_selects .selector span { width:45px; }
.list .filters .checkboxes ul { font-size:11px; }
.list .filters .checkboxes ul li { color:#999; padding-bottom:3px; }
.list .filters .checkboxes ul li strong { color:#069; font-weight:normal; }
.list .filters .slider { margin-bottom:10px; }
.list .filters .slider h6 { margin-bottom:0px;}
.list .filters .slider input { background:transparent; border:none; color:#999; margin-bottom:3px; text-align: center; width:90%; }
.list .filters .slider .ui-slider { margin:0 15px 0 8px; position: relative;}
.list .filters .slider .ui-widget-content { background:#bdd7df; border-color:#bdd7df; height:5px; }
.list .filters .slider .ui-widget-header { background:#FFF; }
.list .filters .slider .ui-slider-horizontal .ui-slider-handle { background:#bac8cd; border-color:#9aafb6; height:15px; top: -0.5em; width:6px; position: absolute;}
.list .filters .salary_range input { margin-right:3px; width: 42px; }
.list .filters .salary_range span.range { margin-right:3px; }
.list .filters .salary_range .selector { position:relative; top:-2px; width:60px; }
.list .filters .salary_range .selector span { width:30px; }
.list .filters .button { margin-left:10px; }
.filters label.price{ width: 100px;}

/* -- ITEM --------------------------------------- */
#item_head  { border-bottom:2px solid #f2f2f2; clear:both; float:left; width:100%; background-color: #F7F7F7; }
#item_head .inner { /*border-bottom:1px solid #dddddd;*/ clear:both; float:left; padding-bottom:8px; width:100%; }
#item_head h1 { float:left; font:20px Georgia, Times, 'Times New Roman', serif; width:700px; margin-left:10px; }
#item_head h1 span { border-right:2px solid #e8e8e8; color:#F60; font-weight:bold; margin-right:5px; padding-right:13px; }
#item_head #report { background:url(images/report_flag.gif) no-repeat 0 4px; float:right; padding:5px 0 0 20px; position:relative; width: 90px; }
#item_head #report strong {background:url(images/language_arrow.gif) no-repeat right center; color:#999; font-size:11px; font-weight:normal; padding-right:9px; }
#item_head #report span { background:#FFF; border:1px solid #333; display:none; left:7px; padding:10px 15px; position:absolute; top:19px; -moz-border-radius:5px; border-radius:5px; }
#item_head #report span a { display:block; font-size:11px; margin:4px 0;}
.item #main { float:left; width:600px; }
.item #main h2 { border-bottom:1px solid #DDD; color:#000; font-size:14px; margin-bottom: 15px; padding-bottom:5px;}
.item #sidebar { float:right; padding-top:22px; width:330px; }

/* Main info */
.item #type_dates { border-bottom:1px dotted #DDD; padding:10px 0; }
.item #type_dates strong { color:#999933; font-size:16px; margin-right:15px; text-transform:uppercase;}
.item #type_dates em { color:#999; font-style:normal; margin-right:15px; }
.item #item_location { clear:both; float:left; margin-bottom:20px; width:100%; }
.item #item_location li { border-bottom:1px dotted #DDD; float:left; padding:10px 10px 10px 0; width:190px; }
.item #description { clear:both; float:left; line-height:18px; margin-bottom:20px; width:100%; }
.item #description .contact_button { line-height:normal; padding-top:10px; }
.item #description .contact_button .share { margin-left: 10px; }
.item #description .contact_button strong { background:#ff7f26 url(images/button_light_orange_bg.gif) repeat-x top; border:1px solid #e67020; float:left; padding:6px 10px 7px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.item #description .contact_button strong a { color:#FFF; float:left; text-decoration:none; text-shadow: 1px 1px 0px #cc3300; filter: dropshadow(color=#cc3300, offx=1, offy=1); }
.item #description .contact_button strong a:hover { text-decoration: underline;}

/* Attributes list */
.item .attributes { clear:both; float:left; margin-bottom:10px; width:100%; }
.item .attributes ul { clear:both; float:left; width:100%; }
.item .attributes ul li { background:url(images/bullet_square.gif) no-repeat 2px 6px; float:left; margin: 0 10px 20px 0; padding-left: 10px; width:180px;}
.item .attributes p { clear:both; margin-bottom:20px;}

/* Map */
.item #item_map { margin-bottom:20px; }
.item #item_map h2 { margin-bottom:5px; }
.item #item_map #gmap { border:1px solid #b6b6b6; height:250px; }

/* Comments */
.item #comments { clear:both; float:left; margin-bottom:35px; width:100%; }
.item #comments .comments_list { border-bottom: 1px dotted #DDD; margin-bottom:20px;  }
.item #comments .comment { background:url(images/comments_quotes.gif) no-repeat 10px 0; margin-bottom:15px; padding:7px 0 0 60px; }
.item #comments .comment h3 { color:#666; margin-bottom: 5px; }
.item #comments .comment h3 em { color:#888; font-size:12px; font-weight:normal; }
.item #comments .comment p { color:#878787; font-style:italic; line-height:18px; }
.item #comments .pagination { text-align: right; margin-right: 10px; margin-bottom: 15px; }
.item #comments .pagination a { border: 1px dotted #AAA; padding: 5px 8px; }
.item #comments .pagination a.searchPaginationSelected { background-color: #f7f7f7; }
.item #comments .pagination a.searchPaginationNext, .item #comments a.searchPaginationPrev, 
.item #comments .pagination a.searchPaginationFirst, .item #comments a.searchPaginationLast { border: 0px; text-decoration: none; }
.item #comments .pagination a.searchPaginationNext:hover, .item #comments a.searchPaginationPrev:hover,
.item #comments .pagination a.searchPaginationFirst:hover, .item #comments a.searchPaginationLast:hover { background-color: #ffffff; }
.item #comments a:hover { background-color: #f7f7f7; }
.item #comments form { clear:both; display:inline; float:left; margin-left:60px; width:540px; }
.item #comments form h3 { color:#000; margin-bottom:10px; }
.item #comments form label { clear:left; float:left; margin-right:10px; padding-top:4px; width:140px; }
.item #comments form input { border:1px solid #BBB; float:left; margin-bottom:5px; padding:5px; width:250px; }
.item #comments form textarea { border:1px solid #BBB; float:left; padding:5px; width:375px; height: 150px; }
.item #comments form .button { clear:both; float:left; margin:10px 0 0 150px; }

/* Useful info */
.item #useful_info { background:#f7f7f7; border: 1px solid #DDD; clear:both; padding:15px 20px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin-bottom: 10px; }
.item #useful_info h2 { border:none; margin:0; }
.item #useful_info ul { list-style:disc outside; padding-left:20px; }
.item #useful_info ul li { line-height:18px; margin-top:8px; }

/* Photos */
.item #photos { margin-bottom:30px; }
.item #photos a { text-decoration:none; }
.item #photos img { background:#FFF; border:1px solid #DDD; /*padding:1px;*/ }
.item #photos .main_photo { margin-bottom:4px; }
.item #photos .main_photo a { color:#FFF; display:block; font-size:11px; position:relative; }
.item #photos .main_photo a:hover { color:#FC0; }
.item #photos .main_photo img { padding:3px; }
.item #photos .main_photo strong { background:#000; bottom:10px; float:right; padding:3px 8px 4px; position:absolute; right:10px; }
.item #photos .mini_photos img { margin:0 1px 1px 0; }

/* Contact form */
.item .inner { /*background:#f2f2f2; border:1px solid #DDD;*/ clear:both; margin:5px 0; padding:13px 0; width:350px; /*-moz-border-radius:10px; border-radius:10px;*/ }
.item #contact { background:#e9f5f9; border: 1px solid #d7e3e7; padding:13px; -moz-border-radius:10px; border-radius:10px; margin: 20px auto; }
.item #contact h2 { color:#000; font-size:14px; margin-bottom:8px; padding-left:12px; }
.item #contact p { margin-left: 16px; font-size:12px; padding:2px; line-height: 18px; }
.item #contact p.contact_button { margin-top: 10px; height: 30px; }
.item #contact p.contact_button strong { margin-left: 10px; background:#ff7f26 url(images/button_light_orange_bg.gif) repeat-x top; border:1px solid #e67020; float:left; padding:6px 10px 7px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.item #contact p.contact_button strong a { color:#FFF; float:left; text-decoration:none; text-shadow: 1px 1px 0px #cc3300; filter: dropshadow(color=#cc3300, offx=1, offy=1); }
.item #contact p.contact_button strong a:hover { text-decoration: underline;}
.item #contact form { margin-top: 10px; }
.item #contact fieldset { background:#FFF; border: 1px solid #d7e3e7; padding:13px; -moz-border-radius:10px; border-radius:10px;  }
.item #contact fieldset h3 { color:#000; font-size:12px; margin-bottom:3px; }
.item #contact fieldset p { font-size:11px; margin-bottom:10px; }
.item #contact fieldset label { display:block; }
.item #contact fieldset input { border:1px solid #BBB; display:block; margin-bottom:10px; padding:5px; width:260px; }
.item #contact fieldset textarea { border:1px solid #BBB; display:block; margin-bottom:10px; padding:5px; width:260px; }
.item #contact fieldset .button { background:#ff7f26 url(images/button_light_orange_bg.gif) repeat-x top; border:1px solid #e67020; color:#FFF; float:right; text-shadow: 1px 1px 0px #cc3300; filter: dropshadow(color=#cc3300, offx=1, offy=1);}

/* -- LOGIN & REGISTER FORM --------------------------------------- */
.user_forms .inner { background:#f2f2f2; border:1px solid #DDD; clear:both; margin:20px auto; padding:13px; width:350px; -moz-border-radius:10px; border-radius:10px; }
.user_forms h1 { font-size:14px; margin:5px 0 10px 8px; }
.user_forms form { background:#FFF; border:1px solid #DDD; clear:both; padding:13px; -moz-border-radius:10px; border-radius:10px; }
.user_forms form label { display:block; font-weight:bold; }
.user_forms form input { border:1px solid #BBB; margin-bottom:15px; padding:5px; width:300px; }
.user_forms form textarea { border:1px solid #BBB; margin-bottom:15px; padding:5px; width:300px; }
.user_forms form .checkbox { margin-bottom:15px; }
.user_forms form .checkbox label { display:inline; }
.user_forms form .checkbox input { border:none; margin:0; padding:0; width:auto; }
.user_forms form .more-login { margin-top: 10px; }

/* -- USER ACCOUNT --------------------------------------- */
.user_account { clear:both; float:left; padding:15px 10px; width:950px; }
.user_account h1 { border-bottom:2px solid #f2f2f2; color:#000; font:18px Georgia, Times, 'Times New Roman', serif; margin-bottom: 10px; }
.user_account h1 strong { border-bottom:1px solid #DDD; display:block; font-weight:normal; padding-bottom:7px; }
.user_account h2 { font-size:16px; margin-bottom:10px; }
.user_account #sidebar { border-right:1px solid #DDD; float:left; padding:0 15px 40px 0; width:175px; }
.user_account #sidebar li { border-bottom:1px dotted #DDD; padding:8px 0; }
.user_account #main { float:right; padding:8px 0 15px 0; width:740px;}
.user_account .account_info h3 { font-size:14px; margin-bottom:5px; }
.user_account .account_info p { line-height:18px; margin-bottom: 15px; }

.user_account .modify_profile form { clear:both; display:inline; float:left; width:700px; }
.user_account .modify_profile form h3 { color:#000; margin-bottom:10px; }
.user_account .modify_profile form label { clear:left; float:left; margin-right:10px; padding-top:7px; width:140px; }
.user_account .modify_profile form input { border:1px solid #BBB; float:left; margin-bottom:5px; padding:5px; width:250px; }
.user_account .modify_profile .update { float:left; margin-bottom:5px; padding: 5px; width:250px; }
.user_account .modify_profile form textarea { border:1px solid #BBB; float:left; padding:5px; width:300px; }
.user_account .modify_profile form button { clear:both; float:left; margin:10px 0 0 150px; }
.user_account .modify_profile .row { clear:both; float:left; margin-bottom:5px; width:100%; }
.user_account .your_items h2 a { border-left:1px solid #DDD; font-weight:normal; margin-left:5px; padding-left:10px;}
.user_account .your_items .item { border-bottom:1px dotted #DDD; margin-bottom:15px; padding-bottom: 15px;}
.user_account .your_items .item h3 { font-size:14px; margin-bottom:5px; }
.user_account .your_items .item p { line:18px; }
.user_account .your_items .item span { color:#CCC; margin:0 10px; }
.user_account .your_items .item .options { margin-top:5px; }
.user_account .your_items .item .delete { color:#999; font-size:11px; }

/* -- ADD ITEM FORM --------------------------------------- */
.add_item { clear:both; float:left; padding:15px 10px; width:950px; }
.add_item h1 { border-bottom:2px solid #f2f2f2; color:#000; font:18px Georgia, Times, 'Times New Roman', serif; margin-bottom: 20px; }
.add_item h1 strong { border-bottom:1px solid #DDD; display:block; font-weight:normal; padding-bottom:7px; }
.add_item h2 { font-size:16px; margin-bottom:10px; }
.add_item label { float:left; line-height:24px; margin-right:10px; width:120px; }
.add_item input { border:1px solid #BBB; padding:7px 7px 6px; width:350px; }
.add_item input[type="radio"] { border:1px solid #BBB; padding:7px 7px 6px; width:30px; }
.add_item input#showEmail { border:1px solid #BBB; padding:7px 7px 6px; width:20px; }
.add_item textarea { border:1px solid #BBB; height:200px; padding:7px 7px 6px; width:490px; }
.add_item textarea#description { height:175px; width:340px; }
.add_item .button,
.add_item button { clear:both; float:left; margin-top:15px;}
.add_item .left_column { border-right:1px dotted #DDD; float:left; padding-right:20px; width:500px; }
.add_item .right_column { float:right; width:400px; }
.add_item .box { border-bottom:1px solid #DDD; clear:both; float:left; margin-bottom:20px; padding-bottom:20px; width:100%; }
.add_item .row { clear:both; float:left; margin-bottom:10px; width:100%; }
.add_item .price input { margin-right:5px; vertical-align:middle; width:100px; }
.add_item .price .selector { width:80px; }
.add_item .price .selector span { width:48px; }
.add_item .photos input { margin-right:10px; }
.add_item .location label { float:left; margin-right:10px; width:120px; }
.add_item .go_back { float:left; margin:20px 0 0 20px; }
.meta { clear: both; margin: 10px 0; }
.meta > label { float: left; }
.meta ul { margin-left: 130px; list-style: none; padding: 0; }
.meta ul li { margin-left: 0; }
.meta ul li label { float: none; }

#error_list { display:none; border: 1px solid #f7f7f7; background:#fefbea; padding:5px 5px; margin-bottom:15px; }
#error_list li { background:url(images/icon-remove.png) left center no-repeat; list-style:none; padding:2px 0 2px 18px; }
#error_list label { float:none; width:auto; line-height:1.35em; }

#comment_error_list { display:none; border: 1px solid #f7f7f7; background:#fefbea; padding:5px 5px; margin-bottom:15px; }
#comment_error_list li { background:url(images/icon-remove.png) left center no-repeat; list-style:none; padding:2px 0 2px 18px; }
#comment_error_list label { float:none; width:auto; line-height:1.35em; }

label.recaptcha_input_area_text { float:none; }

/* -- STATIC PAGES --------------------------------------- */
.page { margin: 10px 0; padding: 10px 0 0; clear: both; }
.page h1 { font-size: 2em; margin: 0 0 10px; }

/*
Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
*/

/* Select */
div.selector { border:1px solid #b4b4b4; line-height: 26px; height: 26px; margin-right:10px; }
div.selector span {  background:url(images/select_arrow.gif) no-repeat right 11px; height: 26px; line-height: 26px; }
div.selector select { top: 0px; left: 0px; }
div.selector.hover, 
div.selector:hover {  }
div.selector.hover span, 
div.selector:hover span { background-position: right -29px; }
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {  }
div.selector:hover:active span,
div.selector.active:hover span { background-position: right -29px; }
div.selector.disabled {  }
div.selector.disabled span {  }
div.button { background:#eeeeee url(images/button_bg.gif) repeat-x top; border:1px solid #cacaca; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
div.button span { background-position: right -643px; }
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover { background-position: 0px -553px; }
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span { background-position: right -673px;  }
div.button.active,
div.button:active { background-position: 0px -583px; }
div.button.active span,
div.button:active span { background-position: right -703px; color: #555; }
div.button.disabled,
div.button:disabled { background-position: 0px -613px; }
div.button.disabled span,
div.button:disabled span { background-position: right -733px; color: #bbb; cursor: default; }

/* PRESENTATION */
/* Button */
div.button { height: auto; }
div.button span { margin-left: 13px; height: auto; padding-bottom: 8px; padding-top: 8px; font-weight: bold; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; text-transform: uppercase; padding-left: 2px; padding-right: 15px; }
/* Select */
div.selector { width: 338px; font-size: 12px; }
div.selector select { min-width: 338px; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div.selector span { padding: 0px 25px 0px 2px; cursor: pointer; }
div.selector span { color: #000; width: 306px; }
div.selector.disabled span { color: #bbb; }

/* ._200 */
div._200 div.selector{ width: 200px; font-size: 12px; }
div._200 div.selector select{ min-width:200px; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div._200 div.selector span { color: #000; width: 164px; }

div._200 input { width:200px; }
div._100 input { width:100px; }
div._50 input { width:50px; }
div._20 input { width:20px; }

/* .auto */
div.auto div.selector{ width: auto; font-size: 12px; background-color: white;}
div.auto div.selector select{ min-width:0; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div.auto div.selector span { color: #000; width: auto; }

/*
CORE FUNCTIONALITY 
Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector, .checker, .button, .radio, .uploader {  background-color: white; display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus { outline: 0; }
/* Button */
div.button a, div.button button, div.button input { position: absolute; top:-9999px; }
div.button { cursor: pointer; position: relative; z-index:1; }
div.button span { display: -moz-inline-box; display: inline-block; line-height: 1; text-align: center; }
/* Select */
div.selector { position: relative; padding-left: 10px; overflow: hidden; }
div.selector span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div.selector select { position: absolute; opacity: 0; filter: alpha(opacity:0); height: 25px; border: none; background: none; width:95%; }
/* AUTOCOMPLETE */
.ui-autocomplete { width: 200px; }
/* Uploader */
div.uploader { border: 1px solid #BBBBBB; background-position: 0px -297px; height: 28px; }
div.uploader span.action { background-position: right -409px; height: 24px; line-height: 24px; }
div.uploader span.filename { height: 24px; /* change this line to adjust positioning of filename area */ margin: 2px 0px 2px 2px; line-height: 24px; }
div.uploader.focus, div.uploader.hover, div.uploader:hover { background-position: 0px -353px; }
div.uploader.focus span.action, div.uploader.hover span.action, div.uploader:hover span.action { background-position: right -437px; }
div.uploader.active span.action, div.uploader:active span.action { background-position: right -465px; }
div.uploader.focus.active span.action, div.uploader:focus.active span.action, div.uploader.focus:active span.action, div.uploader:focus:active span.action { background-position: right -493px; }
div.uploader.disabled { background-position: 0px -325px; }
div.uploader.disabled span.action { background-position: right -381px; }
div.button { background-position: 0px -523px; }
div.button span { background-position: right -643px; }
div.button.focus, div.button:focus, div.button:hover, div.button.hover { background-position: 0px -553px; }
div.button.focus span, div.button:focus span, div.button:hover span, div.button.hover span { background-position: right -673px; }
div.button.active, div.button:active { background-position: 0px -583px; }
div.button.active span, div.button:active span { background-position: right -703px; color: #555; }
div.button.disabled, div.button:disabled { background-position: 0px -613px; }
div.button.disabled span, div.button:disabled span { background-position: right -733px; color: #bbb; cursor: default; }
/* Uploader */
div.uploader { width: 190px; cursor: pointer; }
div.uploader span.action { width: 85px; text-align: center; text-shadow: #fff 0px 1px 0px; background-color: #fff; font-size: 11px; font-weight: bold; }
div.uploader span.filename { color: #777; width: 82px; border-right: solid 1px #bbb; font-size: 11px; }
div.uploader input { width: 190px; }
div.uploader.disabled span.action { color: #aaa; }
div.uploader.disabled span.filename { border-color: #ddd; color: #aaa; }
/* Uploader */
div.uploader { position: relative; overflow: hidden; cursor: default; }
div.uploader span.action { float: left; display: inline; padding: 2px 0px; overflow: hidden; cursor: pointer; }
div.uploader span.filename { padding: 0px 10px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
div.uploader input { opacity: 0; filter: alpha(opacity:0); position: absolute; top: 0; right: 0; bottom: 0; float: right; height: 25px; border: none; cursor: default; }

#maintenance {
    position: static;
    top: 0px;
    right: 0px;
    background-color: #bc0202;
    width: 100%;
    height:20px;
    text-align: center;
    color: #fefefe;
}

.premium_odd {
    background-color: #E9F5F9;
}

.premium_even {
    background-color: #d7eaf0;
}

.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
    background-color: #fefefe;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

#user_data {
    padding: 20px;
}

.user_public_profile #main .latest_ads table td.photo {
    padding-left: 2px;
}

.user_public_profile #main .latest_ads table td {
    border-bottom: 1px dotted #DDDDDD;
    padding: 8px;
    vertical-align: top;
}
